@import url('https://fonts.googleapis.com/css2?family=Sriracha');

body {
	font-family: Sriracha;
	margin: 0;
	padding: 0;
}

header {
	background-color: blanchedalmond;
	font-family: Sriracha;
	padding: 25px;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	padding-inline: 15px;
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: aliceblue;
}

.page-content {
	height: 100vh;
	overflow: h;
}


#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 50%;
  background-color: #CAD3C8;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.3s;
}

#backToTopBtn:hover {
  opacity: 0.9;
  color: bisque;
}

#home {
	background-color: springgreen;
}

#about {
	background-color: thistle;
}

#exp {
	background-color: cornsilk;
}

#skills {
	background-color: fuchsia;
}

#project {
	background-color: indianred;
}

#contact {
	background-color: limegreen;
}